@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #252525;
  --color: #fff;
}

body {
  background-color: var(--background);
  color: var(--color);
}

/* animation */
#splash-screen {
  animation: zoom-in-zoom-out 0.5s ease;
}

#sidebar {
  animation: slide-right 0.2s;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes slide-right {
  from {
    left: -50%;
  }
  to {
    left: 0%;
  }
}